*.iml
.gradle
/local.properties
/.idea/caches
/.idea/deploymentTargetDropDown.xml
/.idea/libraries
/.idea/tasks.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Thumbs.db
/app/src/main/assets/*
/app/src/androidTest/assets/*
/app/src/main/jni/DevLibs/
