<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apython.python.pythonhost" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/python_launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PythonHostLookupActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.apython.python.pythonhost.PYTHON_APP_EXECUTE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
